
<ul class="items">
  <li *ngFor="let crisis of crises | async"
    (click)="onSelect(crisis)"
    [class.selected]="isSelected(crisis)">
      <span class="badge">{{ crisis.id }}</span>
      {{ crisis.name }}
  </li>
</ul>

<!-- 
如果我们用RouterLink来代替Router服务进行导航，就要使用相同的链接参数数组，不过不再需要提供relativeTo属性。 ActivatedRoute已经隐含在了RouterLink指令中。 -->
<!-- <ul class="items">
<li *ngFor="let crisis of crises | async">
  <a [routerLink]="[crisis.id]"
     [class.selected]="isSelected(crisis)">
    <span class="badge">{{ crisis.id }}</span>
    {{ crisis.name }}
  </a>
</li>
</ul> -->



<router-outlet></router-outlet>